<main class="text-page animate__animated animate__fadeInUp">
  <app-slide></app-slide>
  <h1 class="text-center mt-5">
    ¡Bienvenid@ a Tu Tienda! Trabajamos diariamente para llevarte lo que más te
    gusta desde nuestro hogar al tuyo.
  </h1>
  <section class="row align-content-center my-5">
    <section class="col-8 fs-4 text-center">
      <h4>Tenemos para tí:</h4>
      <ul style="list-style: none">
        <li>Envíos gratis</li>
        <li>Buenos precios</li>
        <li>Excelente atención</li>
      </ul>
    </section>
    <section class="col-4">
      <img
        width="200px"
        src="../../../../assets/descuentos.png"
        alt="descuentos"
      />
    </section>
  </section>

  <section class="row align-content-center my-5">
    <section class="col-8">
      <h4>
        ¿Qué estás esperando? Dale un vistazo a nuestro catalogo de productos.
        ¡Estamos esperandote!
      </h4>
    </section>
    <section class="col-2">
      <img height="200px" src="../../../../assets/giphy.gif" alt="shop car" />
    </section>
  </section>
  <section class="text-center my-5">
    <button routerLink="/store" class="btn btn-success btn-lg w-75">
      Ir a la tienda
    </button>
  </section>
</main>
