<div class="card" style="width: 18rem">
  <img
    src="https://imgs.search.brave.com/kwWGoB1w2-eAZTSJBlAn2PjsUmNDYlXl-cceKZdic38/rs:fit:1000:1000:1/g:ce/aHR0cHM6Ly9leGl0/b2NvbC52dGV4YXNz/ZXRzLmNvbS9hcnF1/aXZvcy9pZHMvNDEy/NDM0L21pbmktbW91/c2Utb3B0aWNvLXBh/cmEtcGMtcG9ydGF0/aWwtZ3Jpcy5qcGc_/dj02MzcwMDk5NzE2/MDU4MDAwMDA"
    class="card-img-top img-fluid"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
