<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://imgs.search.brave.com/l-3Q3OSNL7ilnFlVA50_1NzX2UVVM7brRwpky98TWPQ/rs:fit:1200:822:1/g:ce/aHR0cDovL2Jsb2cu/YW5kcmVhLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMC8w/Mi9pU3RvY2stMTE0/MjM5OTM3My5qcGc"
        class="d-block w-100 img-fluid"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://imgs.search.brave.com/ylbyRAyO6dyaO51bTwcGGYZSUVdyZY-IdG76ALhc-fs/rs:fit:1000:650:1/g:ce/aHR0cHM6Ly9hZ2Vu/Y2lhcGxhdHouY29t/LmJyL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIwLzA3L3RvcG8t/cGxhdHotdHJhbnNm/b3JtYWNhby1kaWdp/dGFsLWJsb2ctY29t/cHJhcy1vbmxpbmUu/cG5n"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://imgs.search.brave.com/0NL6bHYw7nhaC80Y6nx4sqCuOeX-JX04QkdQp2SX4P4/rs:fit:1000:600:1/g:ce/aHR0cHM6Ly93d3cu/cGVyZ2FtaW5vdmly/dHVhbC5jb20uYXIv/bm90aWNpYXMvaW1h/Z2VuZXMvNmIzMGMw/Zjc2ZTUxMTFiOWU5/NjhkMmNkZjYxZjg2/MmMuanBn"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
